/* калькулятор */
.uc-quiz .t-img-select__control .t-img-select:checked~.t-img-select__indicator{
	z-index: 2;
}
.uc-quiz .t-img-select__indicator{
	border-radius: 8px;
}
.uc-quiz .border__animate:not(.disabled){
	box-shadow: 1px 10px 40px rgba(100, 101, 106, 0.5);
}
.uc-quiz .t-btn.disabled{
	opacity: 0.6;
}
.uc-quiz .t862 .t862__quiz_nofixedheight .t862__capture-form{
	padding-bottom: 40px!important;
}
.uc-quiz .t-img-select__indicator:after{
	display: none;
}
.uc-quiz .t-img-select__text{
	display: flex;
	align-items: center;
	padding: 20px;
    border-radius: 10px;
	background: #fff;
}
.uc-quiz .t-img-select__text:before{
	content: '';
    border-radius: 99px;
	min-width: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #D1D1D6;
    display: flex;
	margin-right: 15px;
}
.uc-quiz .t-img-select:checked~.t-img-select__text:before{
	background: url(https://static.tildacdn.com/tild3536-3431-4537-b132-373434633632/Check_icon.svg);
    background-size: cover;
	border: none;
}

.uc-quiz .t-img-select:checked~.t-img-select__text{
	color: #FF823A;
	font-weight: 700;
}
.uc-quiz .t-img-select:not([name="size"]):checked~.t-img-select__text{
	border: 1.5px solid #DADADA;
}
.uc-quiz .t862 .t-input-group{
	position: relative;
}
.uc-quiz .step__wrap{
	background: #FCEFE9;
    border-radius: 6.11194px;
    transform: rotate(45deg);
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 20px;
}
.uc-quiz .step{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 26px;
	width: 26px;
	transform: rotate(-45deg);
	border-radius: 99px;
	background-color: #FF823A;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	font-family: 'Ubuntu',Arial,sans-serif;
}
.uc-quiz .t-input-title{
	display: flex;
    align-items: center;
	line-height: 1;
	padding-top: 10px;
}
.uc-quiz .t-input-block{
	height: 360px;
    overflow: scroll;
	width: calc( 100% - 390px );
	padding: 20px;
    margin: -20px;
}
.t862__btn_prev table{
	display: none;
}
.uc-quiz .t862__progressbar{
	height: 3px;
	bottom: 110px;
	left: 0;
}
.uc-quiz .t862__progress[style*="width: 100%"]{
	background-color: #fff!important;
	transition: unset;
}
.uc-quiz .fixed-top .t862__progressbar{
	opacity: 0;
}
.uc-quiz .t-form__submit{
    text-align: center;
	left: 0;
	position: relative;
    padding-top: 20px;
    z-index: 99;
}
.uc-quiz .t862__btn_prev{
	padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 99px;
    background-image: url(https://static.tildacdn.com/tild3831-3064-4238-a438-353166616539/Frame_1321314053.svg);
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 1!important;
    background-color: unset!important;
	float: right!important;
	padding-right: 30px;
}
.uc-quiz .t862__btn-wrapper.fixed-top{
	top: 45px;
    position: absolute;
	justify-content: start;
	height: fit-content;
	width: auto;
	z-index: 5;
}
.uc-quiz .t862__btn-wrapper{
	display: flex;
    justify-content: flex-end;
	bottom: 30px;
	align-items: center;
}
.uc-quiz .t862__result-title{
	padding-bottom: 0
}
.uc-quiz .t-popup__container{
	border-radius: 16px;
    overflow: hidden;
	max-height: 690px;
}
.uc-quiz .step__frame .t-img-select__indicator{
	background-size: contain;
    background-repeat: no-repeat;
}
.uc-quiz .t-datepicker__wrapper{
	margin-top: 40px;
	display: flex;
    align-items: center;
	max-width: 500px;
}
.uc-quiz .t-datepicker__wrapper .date__icon{
	border: 1px solid #F1EFED;
    padding: 9px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: -10px;
    background: #fff;
    z-index: 2;
}
.uc-quiz .t-datepicker__icon {
    display: none;
}
.uc-quiz .t862__capture-form{
	max-width: 550px;
    margin: auto;
}
.uc-quiz .t862__capture-form .step__wrap,
.uc-quiz .t862__quiz-description-counter{
	display: none;
}
.uc-quiz .t862__capture-form .t-input-block{
	height: unset;
	width: 100%;
}
.uc-quiz .t862__capture-form .t-input-title{
	font-size: 16px!important;
}
.uc-quiz .t862__capture-form .t-checkbox__control{
	font-size: 13px!important;
}
.uc-quiz .t862__capture-form .t-checkbox:checked~.t-checkbox__indicator {
    background: #4CA06B;
	border-color: #4CA06B!important;
}
.uc-quiz .t862__capture-form .t-checkbox__indicator {
	border-radius: 5px;
}
.uc-quiz form{
	margin: 0 -45px;
	overflow: hidden;
	min-height: 470px;
}
.uc-quiz:not(.quiz__finish) form{
	height: calc( 100vh - 362px );
}
.uc-quiz .t-form__inputsbox{
	padding: 0 45px;
}
.uc-quiz .t862__quiz-description svg{
	display: none;
}
.uc-quiz .t862__quiz-description{
	padding-bottom: 0;
}
.uc-quiz .t862__quiz-form-wrapper{
	padding-bottom: 25px;
}
.uc-quiz .t862__quiz_inner-space{
	padding-bottom: 30px;
}
.uc-quiz .t-input-group_uc .t-input-block, .uc-quiz .uploadcare--widget{
	width: 100%;
}
.uc-quiz .uploadcare--widget__button_type_open, .uc-quiz .uploadcare--widget__dragndrop-area{
	max-width: 100%;
	width: 100%;
	background: rgb(247 247 247)!important;
	border: 1px dashed rgba(11, 27, 53, 0.2);
	border-radius: 5px!important;
	height: 270px;
	margin-top: 30px;
	display: flex;
    color: #999999!important;
    align-items: center;
    justify-content: center;
}
.uc-quiz .uploadcare--widget__dragndrop-area{
	display: none;
	min-height: auto;
}
.uploadcare--dragging .uc-quiz .uploadcare--widget__dragndrop-area{
	display: flex!important;
}
.uc-quiz .uploadcare--widget__button svg{
	margin-right: 10px;
	min-width: 30px;
}

.uc-quiz .t862 .t-popup > .t-popup__close{
    display: none;
}
.uc-quiz .t862 .t-popup__container > .t-popup__close{
    display: table;
	top: 40px!important;
    right: 30px!important;
}
.uc-quiz .t862 .t-popup__close g{
	fill: #AFAFAF;
}

/* параметры */
.btn_params{
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 8px;
	display: flex;
    align-items: center;
	padding: 10px;
	margin-right: auto;
	cursor: pointer;
	position: relative;
	font-family: 'Ubuntu',Arial,sans-serif;
}
.btn_params__text{
	font-size: 16px;
	font-weight: 500;
	padding: 5px;
}
.btn_params__icon{
	background: url(https://static.tildacdn.com/tild6166-3833-4636-a530-353766646632/Group_1321316207.svg);
	width: 35px;
	height: 35px;
}
.btn_params .params__content{
	display: none;
	background: #FFFFFF;
	box-shadow: 0px 5px 40px rgba(11, 27, 53, 0.15);
	border-radius: 12px;
	position: absolute;
    left: 0;
    bottom: calc( 100% + 10px );
    z-index: 2;
    width: 100%;
	padding: 8px 0;
	max-height: 250px;
    overflow: scroll;
}
.btn_params.active .btn_params__icon{
	scale: -1;
}
.btn_params.active .params__content{
	display: block;
}
.params_step{
	font-size: 15px;
	padding: 10px 16px;
}
.btn_params .params_name{
	color: #64656A;
}
.btn_params .params_value{
	color: #FF823A;
	font-weight: 700;
}
.fixed-top .btn_params{
	display: none;
}
.t_datepicker__inner{
	top: 0;
    margin-top: 130px!important;
}




@media screen and (min-width: 961px){
	.uc-quiz .radio__checkbox{
		height: 400px;
		width: 350px;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 9;
		display: flex;
    	flex-wrap: wrap;
	}
	.uc-quiz .radio__checkbox .img_select{
		width: calc( 100% - 10px );
		height: calc( 50% - 10px );
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
		margin: 5px;
		display: none;
	}
	.uc-quiz .radio__checkbox .img_select.active{
		display: block;
	}
	.uc-quiz .t-img-select__indicator{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 350px;
		height: 350px;
		padding: 0;
		border-radius: 20px;
		margin-left: 30px;
		box-shadow: none;
	}
	.uc-quiz .t-img-select__container{
		display: flex;
		flex-direction: column;
	}
	.uc-quiz .t-img-select__control{
		width: 100%;
		margin: 0;
	}
	.uc-quiz .step__size .t-img-select__control{
		width: calc( 100% / 3 );
	}
	.uc-quiz .step__size .t-img-select__container{
		display: block;
		border-radius: 12px;
		border: 1.5px solid #DADADA;
	}
}

@media screen and (max-width: 960px){
	.uc-quiz .t-img-select__control {
		width: calc(50% - 10px);
	}
	.uc-quiz .t-popup{
		padding: 0;
		margin-top: 85px;
	}
	.uc-quiz .t-popup__container{
		border-radius: 0;
	}
	.uc-quiz .t-img-select:checked~.t-img-select__text{
		border: 1.5px solid #DADADA;
	}
	.uc-quiz.quiz__finish .t862__progressbar{
		display: none;
	}
	.uc-quiz .t-form__inputsbox>.t-input-group .t-input-block{
		width: 100%;
		overflow: scroll;
    	height: calc( 100vh - 450px );
		margin-top: 20px;
		position: inherit;
	}
	.uc-quiz .t-img-select__text{
		margin: 10px 0;
		font-weight: 500;
	}
	.uc-quiz .step__frame .t-img-select__indicator{
		background-position: center;
	}	
	.uc-quiz .t-popup__container{
		min-height: auto;
		height: calc( 100% - 85px );
		margin: 0!important;
	}
	.uc-quiz .t862__wrapper{
		overflow-y: scroll;
		overflow-x: hidden;
    	height: 100vh;
		padding-top: 20px;
	}
	.uc-quiz .t862__btn-wrapper:not(.fixed-top){
		background: #fff;
		padding-top: 30px;
		padding-bottom: 35px;
    	margin-bottom: -35px;
		z-index: 9;
	}
	.uc-quiz .t862 .t-popup__close{
		padding-bottom: 20px;;
	}

}

@media screen and (max-width: 640px) {
	.uc-quiz .t862 .t-popup_show .t-popup__container{
		min-height: auto;
		padding-top: 0;
	}
    .uc-quiz .t862 .t-popup__container > .t-popup__close {
        display: flex;
		background: #ffffff !important;
    	right: 10px!important;
		left: auto;
		position: absolute;
		width: fit-content;
    }
	.uc-quiz .t862 .t862__quiz_nofixedheight .t862__quiz-form-wrapper{
		padding-bottom: 95px;
	}
	.uc-quiz .t-input-group_da .t-input-subtitle{
		margin-top: 20px;
	}
	.uc-quiz form{
		min-height: calc( 100vh - 280px );
	}
	.uc-quiz .t-submit{
		max-width: 250px;
	}
	.uc-quiz .t862__btn-wrapper.fixed-top{
		top: 20px;
	}
	.uc-quiz .t-datepicker{
		height: 60px;
	}
	.uc-quiz .uploadcare--widget__button_type_open{
		white-space: normal;
		line-height: inherit!important;
	}
	.uc-quiz .t-input-title{
		font-size: 18px;
	}
	.btn_params__text{
		display: none;
	}
	.btn_params .params__content{
		width: calc( 100vw - 20px );
		margin: 0 -10px;
		max-width: 350px;
		bottom: calc( 100% + 40px );
	}
}

@media screen and (max-width: 480px){
	.uc-quiz .t862__btn-wrapper .t862__btn_prev.t-btn_sm {
		padding-left: 45px;
	}
	.uc-quiz .uploadcare--widget__button_type_open{
		flex-direction: column;
	}
	.uc-quiz .uploadcare--widget__button_type_open svg{
		margin-bottom: 10px;
		margin-right: 0;
	}
}