/* текст вокруг кнопки */
.animText .tn-atom {
	position: relative;
	transform: scale(var(--x, 1));
	transform-origin: var(--o, center);
	margin: 0 auto;
    width: 560px;
	height: 10px;
    transform: translate(-14px, -19px);
}

.char {
	--i: calc(50% / var(--char-total));
	offset-path: path('M38,26 l198,0 q37,0 41,37 q-4,34 -40,37 l-199,-1 q-33,-1 -37,-37 q3,-33 36,-36 M38,26 l198,0 q37,0 41,37 q-4,34 -40,37 l-199,-1 q-33,-1 -37,-37 q3,-33 36,-36');
	offset-distance: calc(var(--char-index) * 9.08px);
	position: absolute;
	animation: move 15000ms infinite linear ;
}

@keyframes move {
	100% {
		--i: 1.2rem;
		offset-distance: calc((var(--char-index) * 0.555rem) + 40rem);
	}
}

/* фиксированное меню и стили активных пунктов меню */
.fixed{
    position: fixed;
    z-index: 999;
}
.t-active{
    color: #ff823a!important;
    font-weight: 600;
}

/* анимация кнопок */
.animBtn .tn-atom:after {
    width: calc( 100% - 4px );
    height: calc( 100% - 4px );
    border: 2px solid #FF823A;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    transform: matrix(1.08, 0, 0, 1, 0, 0) rotate(-4.56deg);
}
.animBtn .tn-atom:hover, .animBtn .tn-atom:active{
	background-color: #FF823A!important;
}
.animBtn .tn-atom:hover:after, .animBtn .tn-atom:active:after{
	transform: inherit;
}

/* до / после */
#beforeafter .t410__col{
	padding: 0;
}
#beforeafter .t-beforeafter{
	height: 100%;
	position: absolute;
}